.faixa {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}